.about-title{
    font-family: "Sedgwick Ave", cursive;
}
.theme {
    width: 4rem;
    position: relative;
    margin-right: 6rem;
    gap: 0;
    animation: glow 1.5s ease-in-out infinite alternate; 
    background-color: transparent; /* Set background color to transparent */
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(255, 106, 0, 0.7); /* Adjust color and size as needed */
    }
    100% {
        box-shadow: 0 0 20px rgba(162, 255, 0, 0.849); /* Adjust color and size as needed */
    }
}
