/* logo */
.logo {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Cedarville Cursive", cursive;
    transition: color 0.5s ease; 
}

.logo::selection {
    color: rgba(167, 255, 220, 0.895);
    text-shadow: 0 0 10px #4bf916, 0 0 10px #369a3e;
    background-color: transparent;
}

@keyframes blink {
    0%, 100% { opacity: 1; color: rgba(167, 255, 220, 0.895); } 
    50% { opacity: 0.5; } 
}

.logo:hover {
    animation: blink 0.5s infinite alternate; 
}

/* navbar */
.navbar{
    font-family: "Jersey 15", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
    font-size: 1.3rem;
}
.nav-menu li:hover {
    cursor: pointer;
    color: rgb(6, 245, 149);
    border-bottom: 2px solid yellow;
    text-shadow: 0 0 10px #e2f916, 0 0 10px #369a3e;
    transition: .5s;
}
.nav-menu li::selection{
    text-shadow: 0 0 10px #e2f916, 0 0 10px #369a3e;
    background-color: transparent;
}
.nav-connect {
    padding: 1rem 1.6rem;
    border-radius: 3rem;
    background: linear-gradient(45deg, #04eb17a7, #c5c505ba);
    font-size: 1.3rem;
    color: black;
    text-shadow: 0 0 10px #16b1f9, 0 0 10px #d62124;
    border: 2px solid transparent; 
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.nav-connect:hover {
    background: transparent;
    border-color: #369a3e; 
    color: rgba(167, 255, 220, 0.895);
    text-shadow: 0 0 10px #e2f916, 0 0 10px #369a3e;
    transform: scale(1.05); /* Slightly scale up on hover for smooth effect */
}

